.headerNav {
  float: right;
}

.formContainer {
  text-align: center;
}

.title {
  display: inline;
}

.titleContainer {
  padding: 2%;
}

.hourForm {
  border: 1px solid;
  border-color: #d0d1d5;
  box-shadow: 2.5px 2.5px 5px #888888;
  border-radius: 21px;
  margin: 0 30% 0 30%;
  padding: 1%;
}

input {
  width: 80px;
}

.submitBtn {
  margin-top: 2%;
}
