main {
  justify-content: center;
  align-items: center;
}

label, input {
  margin-bottom: 12px;
}

input {
  padding-left: 3px;
}

.formContainer {
  padding: 3%;
}

.headerContainer {
  padding: 2% 2% 2% 2%;
  background-color: black;
  color: white;
}

.headerTitle, .logout {
  display: inline;
}

.logout {
  float: right;
}

.formTitle {
  margin-bottom: 2%;
}

.paddingAdded {
  padding-right: 10%;
}

.btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.submitBtn {
  margin-top: 1%;
}
