<link rel="stylesheet" href="/styles/home.css">
<div class="formContainer">

<div class="videoForm">
  <h3 class="formTitle">Submit A New Video</h3>
  <form class="formInfo">
    <div class="row">
      <label class="col-xs-1 col-xs-offset-1 paddingAdded" for="video.title">Title: </label>
      <input type="text" ng-model="video.title" size="35" required/>
    </div>

    <div class="row">
      <label class="col-xs-1 col-xs-offset-1 paddingAdded" for="video.url">URL: </label>
      <input type="text" ng-model="video.url" size="35" required/>
    </div>

    <button class="col-xs-2 col-xs-offset-5 submitBtn" type="submit" ng-click="submitVideo()">Submit</button>
    </form>
  </div>
</div>
<form>
						Sunday: <input type="text" name="Sunday" ng-model="myHours.sunday">
						Monday: <input type="text" name="Monday" ng-model="myHours.monday">
						Tuesday: <input type="text" name="Tuesday" ng-model="myHours.tuesday">
						Wednesday: <input type="text" name="Wednesday" ng-model="myHours.wednesday">
						Thursday: <input type="text" name="Thursday" ng-model="myHours.thursday">
						Friday: <input type="text" name="Friday" ng-model="myHours.friday">
						Saturday: <input type="text" name="Saturday" ng-model="myHours.saturday">
            <button class="col-xs-2 col-xs-offset-5 submitBtn" type="submit" ng-click="updateHours(myHours)">Submit</button>
						</form>
