<link rel="stylesheet" href="/styles/home.css">
<div class="formContainer">

<div class="hourForm">
  <form class="formInfo">
    <h2 class="formTitle" align="center">{{myHours.user}}'s Weekly Work Hours</h2>
    <table class="borderless" align="center">

      <tr>
        <th><label class="paddingAdded" for="myHours.sunday">Sunday: </label></th>
        <td><input type="number" ng-model="myHours.sunday"></td>
      </tr>

      <tr>
        <th><label class="paddingAdded" for="myHours.monday">Monday: </label></th>
        <td><input type="number" ng-model="myHours.monday"></td>
      </tr>

      <tr>
        <th><label class="paddingAdded" for="myHours.tuesday">Tuesday: </label></th>
        <td><input type="number" ng-model="myHours.tuesday"></td>
      </tr>

      <tr>
        <th><label class="paddingAdded" for="myHours.wednesday">Wednesday: </label></th>
        <td><input type="number" ng-model="myHours.wednesday"></td>
      </tr>

      <tr>
        <th><label class="paddingAdded" for="myHours.thursday">Thursday: </label></th>
        <td><input type="number" ng-model="myHours.thursday"></td>
      </tr>

      <tr>
        <th><label class="paddingAdded" for="myHours.friday">Friday: </label></th>
        <td><input type="number" ng-model="myHours.friday"></td>
      </tr>

      <tr>
        <th><label class="paddingAdded" for="myHours.saturday">Saturday: </label></th>
        <td><input type="number" ng-model="myHours.saturday"></td>
      </tr>

      </table>
      <button class="submitBtn btn btn-secondary" align="center" type="submit" ng-click="updateHours(myHours)">Submit</button>
    </form>
  </div>
</div>
