<div class="formContainer">

<div class="loginForm">
  <h3 class="formTitle">Login</h3>
  <form class="formInfo">
    <div class="row paddingAdded">
      <label class="col-xs-1" for="auth.username">Username: </label>
      <input type="text" ng-model="auth.username" size="30" required/>
    </div>

    <div class="row paddingAdded">
      <label class="col-xs-1" for="auth.password">Password: </label>
      <input type="password" ng-model="auth.password" size="30" required/>
    </div>

    <button class="col-xs-1 submitBtn" type="submit" ng-click="logIn(auth)">Submit</button>
    </form>
  </div>
</div>
